@font-face{
    font-family: 'shrikhand';
    src: url('../assets/police/Shrikhand-Regular.ttf');
}

@font-face{
    font-family: 'Roboto';
    src: url('../assets/police/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Robotobold';
    src: url('../assets/police/Roboto-Bold.ttf');
}