.menuhead{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-color: $grey;
    font-family: 'shrikhand';
    font-size: 18px;
    .photohead{
        max-width: 100%;
        height: 700px;
        overflow: hidden;
        position: relative;
    }
    .photohead img{
        width: 100%;
        position: absolute;
        bottom: 1%;
    }
    .heartmenu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $grey;
        border-radius: 15px 15px 0px 0px;
        padding-left: 15px;
        padding-right: 20px;
        max-width: 100%;
        position: relative;
        bottom: 10%;
        .heart{
            position: relative;
            bottom: 25%; right: 5%;
            font-size: 25px;
            width: 12px;
            .inactif{
                position: absolute;
                left: 0;
                display: inline-block;
            }
            .actif{
                color: $purple;
                position: absolute;
                left: 0;
                display: none;
            }
            &:hover{
                .inactif{
                    display: none;
                }
                .actif{
                    display: inline-block;
                }
            }
        }
    }
}

.entree{
    font-size: 14px;
    background-color:$grey;
    padding-top: 1px;
    animation: fadein 3s;
    h2{
        padding-left: 15px;
        margin-bottom: -10px;
    }
    h4{
        content: "";
        left: 0;
        right: 0;
        height: 2px;
        background: $green;
        width: 4%;
        margin-left: 15px;
    }
    .bur{
        display: flex;
        .forcenter{
            padding-bottom: 15px;
            margin-left: 15px;
            width: 100%;
            .blocanim{
                display: flex;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                .bloc{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border-radius: 15px 15px 15px 15px;
                    padding-left: 10px;
                    transition: width 1s;
                    width: 90%;
                    height: 75px;
                    text-overflow: ellipsis;
                    .bloctext{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 15px;
                        position: relative;
                        bottom: 30%;
                    }
                }
                .itemcheck{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    border-radius: 0px 15px 15px 0px;
                    width: 0%;
                    transition: width 1s;
                    background-color: $green;
                    color: white;
                    overflow: hidden;
                    text-decoration: none;
                    .fas{
                        transform: rotate(359deg);
                        transition: transform 1s;
                    }
                }
            }
            .blocanim:hover{
                .bloctext p:first-child{
                    width: 70%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .bloc{
                    border-radius: 15px 0px 0px 15px;
                    width: 70%;
                }
                .itemcheck{
                    width: 20%;
                    overflow: visible;
                    cursor: grab;
                    .fas{
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }
}

.plat{
    padding-top: 10px;
    font-size: 14px;
    background-color:$grey;
    animation: fadein 3s;
    h2{
        padding-left: 15px;
        margin-bottom: -10px;
    }
    h4{
        content: "";
        left: 0;
        right: 0;
        height: 2px;
        background: $green;
        width: 4%;
        margin-left: 15px;
    }
    .bur{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .forcenter{
            padding-bottom: 15px;
            margin-left: 15px;
            width: 100%;
            .blocanim{
                display: flex;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                .bloc{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border-radius: 15px 15px 15px 15px;
                    padding-left: 10px;
                    width: 90%;
                    transition: width 1s;
                    height: 75px;
                    text-overflow: ellipsis;
                    .bloctext{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 15px;
                        position: relative;
                        bottom: 30%;
                    }
                }
                .itemcheck{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    border-radius: 0px 15px 15px 0px;
                    width: 0%;
                    background-color: $green;
                    color: white;
                    overflow: hidden;
                    transition: width 1s;
                    text-decoration: none;
                    .fas{
                        transform: rotate(359deg);
                        transition: transform 1s;
                    }
                }
            }
            .blocanim:hover{
                .bloctext p:first-child{
                    width: 70%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .bloc{
                    border-radius: 15px 0px 0px 15px;
                    width: 70%;
                }
                .itemcheck{
                    width: 20%;
                    overflow: visible;
                    cursor: grab;
                    .fas{
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }
}

.commande{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: $grey;
    a{
        padding-top: 10px;
        text-decoration: none;
        border: 0;
        padding: 20px;
        width: 27%;
        font-size: 18px;
        text-align: center;
        color: #fff;
        font-family: 'Roboto';
        border-radius: 50px;
        background: linear-gradient($pink, $purple);
        transition: background-color 1000ms;
        &:hover{
            background: $pink;
        }
    }
}

@media screen and (max-width: 1024px){
    .menuhead{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        background-color: $grey;
        font-family: 'shrikhand';
        font-size: 18px;
        .photohead{
            max-width: 100%;
            height: 350px;
            overflow: hidden;
            position: relative;
        }
        .photohead img{
            width: 100%;
            position: absolute;
            bottom: 0%;
        }
        .heartmenu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $grey;
            border-radius: 15px 15px 0px 0px;
            padding-left: 15px;
            padding-right: 20px;
            max-width: 100%;
            position: relative;
            bottom: 5%;
            .heart{
                font-size: 25px;
                width: 12px;
                .inactif{
                    position: absolute;
                    left: 0;
                    display: inline-block;
                }
                .actif{
                    color: $purple;
                    position: absolute;
                    left: 0;
                    display: none;
                }
                &:hover{
                    .inactif{
                        display: none;
                    }
                    .actif{
                        display: inline-block;
                    }
                }
            }
        }
    }
    
    .entree{
        font-size: 14px;
        background-color:$grey;
        h2{
            padding-left: 15px;
        }
        h4{
            content: "";
            left: 0;
            right: 0;
            height: 2px;
            background: $green;
            width: 15%;
            margin-left: 15px;
        }
        .bur{
            display: flex;
            flex-direction: column;
            .forcenter{
                display: flex;
                justify-content: center;
                padding-bottom: 15px;
                .bloc{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border-radius: 15px 15px 15px 15px;
                    padding-left: 10px;
                    width: 90%;
                    height: 75px;
                    .bloctext{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 15px;
                        position: relative;
                        bottom: 30%;
                    }
                }
            }
        }
    }
    
    .plat{
        padding-top: 10px;
        font-size: 14px;
        background-color:$grey;
        h2{
            padding-left: 15px;
        }
        h4{
            content: "";
            left: 0;
            right: 0;
            height: 2px;
            background: $green;
            width: 15%;
            margin-left: 15px;
        }
        .bur{
            display: flex;
            flex-direction: column;
            .forcenter{
                display: flex;
                justify-content: center;
                padding-bottom: 15px;
                .bloc{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border-radius: 15px 15px 15px 15px;
                    padding-left: 10px;
                    width: 90%;
                    height: 75px;
                    .bloctext{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 15px;
                        position: relative;
                        bottom: 30%;
                    }
                }
            }
        }
    }
    
    .commande{
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 100px;
        background-color: $grey;
        a{
            padding-top: 10px;
            text-decoration: none;
            border: 0;
            padding: 20px;
            width: 70%;
            font-size: 18px;
            text-align: center;
            color: #fff;
            font-family: 'Roboto';
            border-radius: 50px;
            background: linear-gradient($pink, $purple);
            transition: background-color 1000ms;
            &:hover{
                background: $pink;
            }
        }
    }
}

@media screen and (max-width: 765px){
    .menuhead{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        background-color: $grey;
        font-family: 'shrikhand';
        font-size: 18px;
        .photohead{
            max-width: 100%;
            height: 350px;
            overflow: hidden;
            position: relative;
        }
        .photohead img{
            width: 100%;
            position: absolute;
            bottom: 0%;
        }
        .heartmenu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $grey;
            border-radius: 15px 15px 0px 0px;
            padding-left: 15px;
            padding-right: 20px;
            max-width: 100%;
            position: relative;
            bottom: 5%;
            .heart{
                font-size: 25px;
                width: 12px;
                .inactif{
                    position: absolute;
                    left: 0;
                    display: inline-block;
                }
                .actif{
                    color: $purple;
                    position: absolute;
                    left: 0;
                    display: none;
                }
                &:hover{
                    .inactif{
                        display: none;
                    }
                    .actif{
                        display: inline-block;
                    }
                }
            }
        }
    }
    
    .entree{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        background-color:$grey;
        h2{
            padding-left: 15px;
        }
        h4{
            content: "";
            left: 0;
            right: 0;
            height: 2px;
            background: $green;
            width: 15%;
            margin-left: 15px;
        }
        .bur{
            display: flex;
            .forcenter{
                display: flex;
                justify-content: center;
                margin: 0px;
                .blocanim{
                    display: flex;
                    justify-content: center;
                    .bloc{
                        display: flex;
                        flex-direction: column;
                        background-color: white;
                        border-radius: 15px 15px 15px 15px;
                        padding-left: 10px;
                        width: 90%;
                        height: 75px;
                        .bloctext{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-right: 15px;
                            position: relative;
                            bottom: 30%;
                        }
                    }
                }
            }
        }
    }
    
    .plat{
        padding-top: 10px;
        font-size: 14px;
        background-color:$grey;
        h2{
            padding-left: 15px;
        }
        h4{
            content: "";
            left: 0;
            right: 0;
            height: 2px;
            background: $green;
            width: 15%;
            margin-left: 15px;
        }
        .bur{
            display: flex;
            flex-direction: column;
            .forcenter{
                margin-left: 0px;
                .blocanim{
                    display: flex;
                    justify-content: center;
                    .bloc{
                        display: flex;
                        flex-direction: column;
                        background-color: white;
                        border-radius: 15px 15px 15px 15px;
                        padding-left: 10px;
                        width: 90%;
                        height: 75px;
                        .bloctext{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-right: 15px;
                            position: relative;
                            bottom: 30%;
                        }
                    }
                }
            }
        }
    }
    
    .commande{
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 100px;
        background-color: $grey;
        a{
            padding-top: 10px;
            text-decoration: none;
            border: 0;
            padding: 20px;
            width: 70%;
            font-size: 18px;
            text-align: center;
            color: #fff;
            font-family: 'Roboto';
            border-radius: 50px;
            background: linear-gradient($pink, $purple);
            transition: background-color 1000ms;
            &:hover{
                background: $pink;
            }
        }
    }
}